# Data Preparation Churn

## This notebook is for Data Cleaning and Feature Engineering

**==============================================================================================================**

## Data Dictionary

## Data Tasks

### 1) Understand the shape of the data (Histograms, box plots, etc.)

### 2) Data Cleaning 

### 3) Data Exploration

### 4) Feature Engineering 

### 5) Data Preprocessing for Model

### 6) Basic Model Building 

### 7) Model Tuning 

### 8) Ensemble Model Building 

### 9) Results

**==============================================================================================================**

## Import Libraries

In [1]:
import numpy as np
#from numpy import count_nonzero, median, mean
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
#import squarify

import datetime
from datetime import datetime, timedelta, date, time


#import os
#import zipfile
import scipy
from scipy import stats
#from scipy.stats.mstats import normaltest # D'Agostino K^2 Test
#from scipy.stats import boxcox
from collections import Counter

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import PolynomialFeatures, RobustScaler, Binarizer
from sklearn.impute import SimpleImputer, MissingIndicator, KNNImputer
from sklearn.compose import make_column_transformer, ColumnTransformer
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn import set_config

%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

# Use Feature-Engine library
import feature_engine

#from feature_engine.imputation import AddMissingIndicator, CategoricalImputer, DropMissingData, MeanMedianImputer
#from feature_engine.imputation import ArbitraryNumberImputer, RandomSampleImputer

#from feature_engine.outliers import Winsorizer, ArbitraryOutlierCapper, OutlierTrimmer

from feature_engine.encoding import MeanEncoder as menc

from feature_engine.creation import MathFeatures, RelativeFeatures


pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

In [ ]:
desc = pd.read_csv("data_descriptions.csv")
desc

**==============================================================================================================**

## Create Train, Validation and Test Dataset

When you split the data set into three splits, what we get is the test data set. The three splits consist of training data set, validation data set and test data set. You train the model using the training data set and assess the model performance using the validation data set. You optimize the model performance using training and validation data set. Finally, you test the model generalization performance using the test data set. The test data set remains hidden during the model training and model performance evaluation stage. One can split the data into a 70:20:10 ratio. 10% of the data set can be set aside as test data for testing the model performance.

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.shape

(243787, 20)

In [4]:
df = df.sample(frac=1, random_state=0)

In [5]:
df

        accountage  monthlycharges  totalcharges subscriptiontype     paymentmethod paperlessbilling contenttype multideviceaccess deviceregistered  viewinghoursperweek  averageviewingduration  contentdownloadspermonth genrepreference  userrating  supportticketspermonth  gender  watchlistsize parentalcontrol subtitlesenabled  churn
86721           13           19.71        256.26            Basic       Credit card               No        Both                No           Tablet                 6.48                   50.03                        33          Action        1.18                       6    Male              7             Yes               No      0
160337          57            9.25        527.13          Premium     Bank transfer               No        Both                No           Mobile                17.04                   44.53                        14          Action        4.57                       8    Male              7             Yes              Yes      0
202410          99            9.36        926.48            Basic     Bank transfer               No        Both               Yes         Computer                14.30                   43.81                        31         Fantasy        1.95                       0    Male             17              No               No      0
102943          28           13.17        368.90            Basic      Mailed check              Yes      Movies                No           Mobile                 6.88                   57.23                        49           Drama        1.41                       2  Female              7             Yes              Yes      0
165297           7           18.95        132.63         Standard     Bank transfer              Yes        Both               Yes           Tablet                27.01                   95.18                        44         Fantasy        3.99                       7  Female             11             Yes               No      0
...            ...             ...           ...              ...               ...              ...         ...               ...              ...                  ...                     ...                       ...             ...         ...                     ...     ...            ...             ...              ...    ...
176963          79           10.28        812.15         Standard  Electronic check              Yes        Both               Yes         Computer                30.60                  141.69                        30          Comedy        2.32                       6  Female              2             Yes               No      0
117952         114            7.76        884.93         Standard  Electronic check               No        Both                No         Computer                30.36                    6.96                         0           Drama        3.91                       8    Male              8             Yes               No      0
173685           3           14.34         43.02          Premium  Electronic check              Yes      Movies                No         Computer                21.93                  125.25                        17          Action        4.75                       2  Female              0              No              Yes      0
43567          119           14.04       1671.10          Premium       Credit card              Yes      Movies               Yes           Mobile                33.97                   88.29                        13          Sci-Fi        3.73                       1  Female             22             Yes              Yes      0
199340         115            6.40        735.63            Basic      Mailed check              Yes        Both                No           Mobile                37.99                  119.23                        16           Drama        1.03                       7    Male             18              No              Yes      0

[243787 rows x 20 columns]

In [6]:
trainset = df[0:25000]

In [7]:
trainset

        accountage  monthlycharges  totalcharges subscriptiontype     paymentmethod paperlessbilling contenttype multideviceaccess deviceregistered  viewinghoursperweek  averageviewingduration  contentdownloadspermonth genrepreference  userrating  supportticketspermonth  gender  watchlistsize parentalcontrol subtitlesenabled  churn
86721           13           19.71        256.26            Basic       Credit card               No        Both                No           Tablet                 6.48                   50.03                        33          Action        1.18                       6    Male              7             Yes               No      0
160337          57            9.25        527.13          Premium     Bank transfer               No        Both                No           Mobile                17.04                   44.53                        14          Action        4.57                       8    Male              7             Yes              Yes      0
202410          99            9.36        926.48            Basic     Bank transfer               No        Both               Yes         Computer                14.30                   43.81                        31         Fantasy        1.95                       0    Male             17              No               No      0
102943          28           13.17        368.90            Basic      Mailed check              Yes      Movies                No           Mobile                 6.88                   57.23                        49           Drama        1.41                       2  Female              7             Yes              Yes      0
165297           7           18.95        132.63         Standard     Bank transfer              Yes        Both               Yes           Tablet                27.01                   95.18                        44         Fantasy        3.99                       7  Female             11             Yes               No      0
...            ...             ...           ...              ...               ...              ...         ...               ...              ...                  ...                     ...                       ...             ...         ...                     ...     ...            ...             ...              ...    ...
173376          77            5.61        432.23          Premium      Mailed check               No      Movies               Yes           Tablet                27.82                  123.75                        30          Comedy        2.81                       2  Female             21             Yes              Yes      0
115270          21           19.22        403.71         Standard       Credit card              Yes        Both               Yes         Computer                27.18                   30.18                        16          Comedy        3.58                       3    Male              8             Yes               No      0
45838           27           14.58        393.65         Standard  Electronic check               No        Both               Yes           Tablet                18.12                   16.10                        25          Comedy        3.54                       0    Male              8              No               No      0
160386           7           17.79        124.54         Standard      Mailed check               No        Both               Yes         Computer                14.60                   88.88                        18          Sci-Fi        1.85                       9  Female             10              No              Yes      0
122235         109           10.80       1176.66         Standard       Credit card               No        Both                No           Tablet                18.23                   54.21                        29          Action        4.92                       1  Female              3              No              Yes      0

[25000 rows x 20 columns]

In [8]:
Counter(trainset.churn)

Counter({0: 20489, 1: 4511})

In [9]:
testset = df[25000:30000]

In [10]:
testset

        accountage  monthlycharges  totalcharges subscriptiontype     paymentmethod paperlessbilling contenttype multideviceaccess deviceregistered  viewinghoursperweek  averageviewingduration  contentdownloadspermonth genrepreference  userrating  supportticketspermonth  gender  watchlistsize parentalcontrol subtitlesenabled  churn
50635           19           19.25        365.80          Premium      Mailed check              Yes    TV Shows               Yes               TV                16.70                   14.29                         7           Drama        1.91                       3  Female              1             Yes              Yes      1
176599         116           14.61       1695.19            Basic     Bank transfer               No    TV Shows                No               TV                12.94                  142.38                        28          Sci-Fi        1.58                       2    Male              2             Yes               No      0
218395           6           13.89         83.34          Premium      Mailed check               No    TV Shows               Yes         Computer                24.73                   16.92                         0          Comedy        3.82                       8    Male             18              No               No      0
137160          13            7.41         96.38         Standard     Bank transfer               No      Movies                No           Mobile                35.40                   48.25                        32          Action        3.47                       0  Female              9             Yes               No      0
107502          60           14.19        851.48          Premium     Bank transfer              Yes        Both               Yes         Computer                23.97                   79.10                        27         Fantasy        4.83                       2    Male             15              No              Yes      1
...            ...             ...           ...              ...               ...              ...         ...               ...              ...                  ...                     ...                       ...             ...         ...                     ...     ...            ...             ...              ...    ...
16335           12           14.43        173.16         Standard       Credit card               No    TV Shows               Yes         Computer                24.49                  173.09                         2          Action        4.42                       2    Male              6              No               No      0
224759          10           19.10        190.98            Basic  Electronic check              Yes        Both               Yes               TV                15.04                   65.85                        32          Sci-Fi        1.76                       9    Male             23              No               No      1
1373            27            7.05        190.31          Premium     Bank transfer              Yes    TV Shows                No           Tablet                 7.31                  137.74                         4         Fantasy        1.36                       2  Female              9              No              Yes      0
109379          52           15.32        796.61         Standard       Credit card              Yes        Both               Yes         Computer                31.21                   88.84                         9           Drama        3.38                       7  Female             17              No               No      0
199213          43           16.47        708.08          Premium  Electronic check               No      Movies                No           Tablet                37.14                   81.67                        17           Drama        4.18                       5    Male             16              No              Yes      0

[5000 rows x 20 columns]

In [11]:
Counter(testset.churn)

Counter({0: 4081, 1: 919})

In [12]:
trainset.to_csv("dftrain.csv", index=False)

In [13]:
testset.to_csv("dftest.csv", index=False)

In [14]:
testset.drop(['churn'], axis=1, inplace=True)

In [16]:
testset

        accountage  monthlycharges  totalcharges subscriptiontype     paymentmethod paperlessbilling contenttype multideviceaccess deviceregistered  viewinghoursperweek  averageviewingduration  contentdownloadspermonth genrepreference  userrating  supportticketspermonth  gender  watchlistsize parentalcontrol subtitlesenabled
50635           19           19.25        365.80          Premium      Mailed check              Yes    TV Shows               Yes               TV                16.70                   14.29                         7           Drama        1.91                       3  Female              1             Yes              Yes
176599         116           14.61       1695.19            Basic     Bank transfer               No    TV Shows                No               TV                12.94                  142.38                        28          Sci-Fi        1.58                       2    Male              2             Yes               No
218395           6           13.89         83.34          Premium      Mailed check               No    TV Shows               Yes         Computer                24.73                   16.92                         0          Comedy        3.82                       8    Male             18              No               No
137160          13            7.41         96.38         Standard     Bank transfer               No      Movies                No           Mobile                35.40                   48.25                        32          Action        3.47                       0  Female              9             Yes               No
107502          60           14.19        851.48          Premium     Bank transfer              Yes        Both               Yes         Computer                23.97                   79.10                        27         Fantasy        4.83                       2    Male             15              No              Yes
...            ...             ...           ...              ...               ...              ...         ...               ...              ...                  ...                     ...                       ...             ...         ...                     ...     ...            ...             ...              ...
16335           12           14.43        173.16         Standard       Credit card               No    TV Shows               Yes         Computer                24.49                  173.09                         2          Action        4.42                       2    Male              6              No               No
224759          10           19.10        190.98            Basic  Electronic check              Yes        Both               Yes               TV                15.04                   65.85                        32          Sci-Fi        1.76                       9    Male             23              No               No
1373            27            7.05        190.31          Premium     Bank transfer              Yes    TV Shows                No           Tablet                 7.31                  137.74                         4         Fantasy        1.36                       2  Female              9              No              Yes
109379          52           15.32        796.61         Standard       Credit card              Yes        Both               Yes         Computer                31.21                   88.84                         9           Drama        3.38                       7  Female             17              No               No
199213          43           16.47        708.08          Premium  Electronic check               No      Movies                No           Tablet                37.14                   81.67                        17           Drama        4.18                       5    Male             16              No              Yes

[5000 rows x 19 columns]

In [17]:
testset.to_csv("dftestnolabel.csv", index=False)

**==============================================================================================================**

## Data Quick Glance

In [ ]:
train = pd.read_csv("trainoriginal.csv")

In [ ]:
train.head()

In [ ]:
train.info()

In [ ]:
train.dtypes.value_counts()

In [ ]:
# Descriptive Statistical Analysis
train.describe(include=["int", "float"])

In [ ]:
# Descriptive Statistical Analysis
train.describe(include="object")

In [ ]:
list(train.select_dtypes("object"))

In [ ]:
train.subscriptiontype.value_counts()

In [ ]:
train.paymentmethod.value_counts()

In [ ]:
train.contenttype.value_counts()

In [ ]:
train.deviceregistered.value_counts()

In [ ]:
train.genrepreference.value_counts()

In [ ]:
train.groupby(["churn"])["subscriptiontype"].count()

In [ ]:
# Let's divide into train and test set

X_train, X_test, y_train, y_test = train_test_split(
    train.drop(labels="churn", axis=1),  # predictors
    train["churn"],  # target
    test_size=0.3,
    random_state=0,
)

X_train.shape, X_test.shape

In [ ]:
enc = MeanEncoder()

In [ ]:
enc.fit_transform(X_train,y_train)

In [ ]:
# let's explore the relationship of the categories with the target

for var in ['subscriptiontype', 'paymentmethod', 'paperlessbilling', 'contenttype', 'multideviceaccess',
 'deviceregistered', 'genrepreference', 'gender', 'parentalcontrol', 'subtitlesenabled']:

    fig = plt.figure()
    fig = y_train.groupby(X_train[var]).mean().plot()
    fig.set_title("Relationship between {} and Churn".format(var))
    fig.set_ylabel("Mean Churn")
    plt.show()

In [ ]:
# Check target variable

train.churn.value_counts()

In [ ]:
train.isnull().sum()

In [ ]:
train.duplicated().sum()

# Test dataset

In [ ]:
test = pd.read_csv("testoriginal.csv")

In [ ]:
test.head()

In [ ]:
test.info()

In [ ]:
test.dtypes.value_counts()

In [ ]:
# Descriptive Statistical Analysis
test.describe(include=["int", "float"])

In [ ]:
# Descriptive Statistical Analysis
test.describe(include="object")

In [ ]:
# Check target variable

# test.Churn.value_counts()

In [ ]:
test.isnull().sum()

In [ ]:
test.duplicated().sum()

## Combine both dataset

When you split the data set into three splits, what we get is the test data set. The three splits consist of training data set, validation data set and test data set. You train the model using the training data set and assess the model performance using the validation data set. You optimize the model performance using training and validation data set. Finally, you test the model generalization performance using the test data set. The test data set remains hidden during the model training and model performance evaluation stage. One can split the data into a 70:20:10 ratio. 10% of the data set can be set aside as test data for testing the model performance.

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
full = pd.concat([train,test], axis=0)

In [ ]:
full

In [ ]:
full.reset_index(inplace=True, drop=True)

In [ ]:
full

In [ ]:
#full.to_csv("fulldata.csv", index=False)

**==============================================================================================================**

# Data Preprocessing

## SciKit Learn Column Transformers and Pipelines

In [ ]:
list(train.select_dtypes(["int", "float"]))

In [ ]:
list(train.select_dtypes(["object"]))

In [ ]:
numcols = ['accountage', 'monthlycharges', 'totalcharges', 'viewinghoursperweek', 'averageviewingduration',
          'contentdownloadspermonth', 'userrating', 'supportticketspermonth', 'watchlistsize']

In [ ]:
catcols = ['subscriptiontype', 'paymentmethod', 'paperlessbilling', 'contenttype', 'multideviceaccess', 'deviceregistered',
 'genrepreference', 'gender', 'parentalcontrol', 'subtitlesenabled']

In [ ]:
train.shape

In [ ]:
X = train.iloc[:, 0:19]
y = train.iloc[:, 19:]

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
# imp = SimpleImputer()
# ss = StandardScaler()
# mm = MinMaxScaler()
# ohe = OneHotEncoder(drop_last=True)
# binary = Binarizer(threshold=0)

## You use the ColumnTransformer to transform each column set separately before combining them later.

In [ ]:
# Missing Values Imputation Methods

imp = SimpleImputer(missing_values=np.nan,
                    strategy='mean',
                    fill_value=None,
                    add_indicator=False)

imp = SimpleImputer(missing_values=np.nan,
                    strategy='median',
                    fill_value=None,
                    add_indicator=False)

imp = SimpleImputer(missing_values=np.nan,
                    strategy='constant',
                    fill_value=0,
                    add_indicator=False)

imp = SimpleImputer(missing_values=np.nan,
                    strategy='most_frequent',
                    fill_value=None,
                    add_indicator=False)

indicator = MissingIndicator(missing_values=np.nan, features='missing-only', error_on_new=True)
indicator

imp2 = SimpleImputer(missing_values=np.nan,
                    strategy='most_frequent',
                    fill_value=None,
                    add_indicator=True)

In [ ]:
# Missing values imputation using ColumnTransformer

ct = ColumnTransformer(
    
          transformers= [
     
         (
             'imputer', SimpleImputer(missing_values=np.nan, 
                                      strategy='most_frequent', add_indicator=True), ['RankSeason', 'RankPlayoffs','OOBP', 'OSLG']
         )
         
         ],
             remainder='passthrough',
             verbose_feature_names_out=False
         )

ct.set_output(transform="pandas")

**CAUTION**

The ColumnTransformer is, in essence, just slicing the dataframe into the required feature subsets. The SimpleImputer then performs operations on the sliced dataframes. Finally, the dataframes are put back together for the final output.

That means that the order of the columns is not the same as in the training set!

In [ ]:
# One hot / Ordinal encoding
# With a tree-based model, try OrdinalEncoder instead of OneHotEncoder even for nominal (unordered) features

ct = ColumnTransformer(
    
     transformers= [
     
     (
         'ohe1', OneHotEncoder(drop_last_binary=True), catcols
     ),  
         
     (
         'ohe2', OneHotEncoder(top_categories=3), []
     ),
         
     ( 
         'oe',  OrdinalEncoder(missing_values='ignore'), []
     ),
         
     (   'binary', Binarizer(threshold=0),[]
     
     )
         
     ],
      remainder='passthrough',
      verbose_feature_names_out=False
     )

ct.set_output(transform="pandas")

In [ ]:
# Scaling features

ct = ColumnTransformer(
    
     transformers= [
     
      (
         'ss', 
         StandardScaler(),
         []
      ),    
      ( 
          'mm',
          MinMaxScaler(),
          numcols
      )
         
     ],
      remainder='passthrough',
      verbose_feature_names_out=False
     )

ct.set_output(transform="pandas")

In [ ]:
X_new = ct.fit_transform(X,y)
X_new

In [ ]:
X_new.isnull().sum()

In [ ]:
print(ct)

In [ ]:
df2 = X_new.copy()
df2.head()

## Use the pipeline for multiple transformations of the same columns

### Step 1: Create pipelines for numerical and categorical features

```
pipe = Pipeline(steps, *, memory=None, verbose=False)

We create the preprocessing pipelines for both numerical and categorical data

```

In [ ]:
numpipeline = Pipeline(steps=
                      [
                      ("imputer", SimpleImputer()),
                      ("scaler", StandardScaler()),
                      ("minmax", MinMaxScaler())   
                      ]
                      )

In [ ]:
catpipeline = Pipeline(steps=
                      [
                      ("imputer", SimpleImputer()),    
                      ("ohe", OneHotEncoder(drop_last_binary=True))    
                      ]
                      )

### Step 2: Create Transformers

In [ ]:
preprocessor = ColumnTransformer(
    
     transformers= [
     
     ("numerical", numpipeline, numcols ),    
     ("categorical", catpipeline, catcols )
         
     ],
      remainder='passthrough',
      verbose_feature_names_out=True
     )

preprocessor.set_output(transform="pandas")

### Step 3: Create a final pipeline to include transformers

In [ ]:
finalpipeline = Pipeline(steps=
                       [
                       ("preprocessor", preprocessor)
                       ])

In [ ]:
finalpipeline.fit_transform(X)

In [ ]:
finalpipeline.named_steps

**==============================================================================================================**

## Overall Visualization

In [ ]:
df.hist(bins=50, figsize=(20,50), layout=(len(df.columns),2), grid=False)
plt.suptitle('Histogram Feature Distribution', x=0.5, y=1.02, ha='center', fontsize=20)

plt.tight_layout()
plt.show()

In [ ]:
df.boxplot(figsize=(20,10), color='blue', fontsize=15)
plt.suptitle('BoxPlots Feature Distribution', x=0.5, y=1.02, ha='center', fontsize=20)

plt.tight_layout()
plt.show()

In [ ]:
# Stacked Histogram

fig, ax = plt.subplots(figsize=(12,8))

sns.histplot(data=df, x="landsurfacecondition", y=None, hue="damagegrade", multiple='dodge', stat='count')

plt.show()

In [ ]:
# Stacked Histogram

fig, ax = plt.subplots(figsize=(12,8))

sns.histplot(data=df, x="foundationtype", y=None, hue="damagegrade", multiple='dodge', stat='count')

plt.show()

In [ ]:
# Stacked Histogram

fig, ax = plt.subplots(figsize=(12,8))

sns.histplot(data=df, x="rooftype", y=None, hue="damagegrade", multiple='dodge', stat='count')

plt.show()

In [ ]:
# Stacked Histogram

fig, ax = plt.subplots(figsize=(12,8))

sns.histplot(data=df, x="groundfloortype", y=None, hue="damagegrade", multiple='dodge', stat='count')

plt.show()

In [ ]:
# Stacked Histogram

fig, ax = plt.subplots(figsize=(12,8))

sns.histplot(data=df, x="position", y=None, hue="damagegrade", multiple='dodge', stat='count')

plt.show()

In [ ]:
# Stacked Histogram

fig, ax = plt.subplots(figsize=(12,8))

sns.histplot(data=df, x="planconfiguration", y=None, hue="damagegrade", multiple='dodge', stat='count')

plt.show()

In [ ]:
# Stacked Histogram

fig, ax = plt.subplots(figsize=(12,8))

sns.histplot(data=df, x="legalownershipstatus", y=None, hue="damagegrade", multiple='dodge', stat='count')

plt.show()

In [ ]:
sns.catplot(x="landsurfacecondition", y="damagegrade", hue=None, data=df, row=None, col=None,
    col_wrap=None, estimator="mean", ci=95, kind='swarm', height=5, aspect=3)

plt.show()

In [ ]:
sns.barplot(x="label", y="drivenkmdrives", hue=None, data=df, estimator="mean", ci=95)

plt.show()

In [ ]:
sns.barplot(x=horizontal_label,
            y=first_dimension,
            hue=second_dimension,
            data=df.groupby([first_dimension, second_dimension]).size().to_frame(horizontal_label).reset_index())

In [ ]:
sns.pairplot(data=df, 
             height=5, aspect=1, kind="reg",
             #x_vars=['extra','mtatax','tollsamount','improvementsurcharge'],
             y_vars=["calories"]
            
            )

plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))

sns.scatterplot(x="NumberChildrenAtHome", y="YearlyIncome", hue="BikeBuyer", data=df, 
            size="Gender", ci=95)

plt.show()

In [ ]:
sns.relplot(x="NumberChildrenAtHome", y="YearlyIncome", hue="BikeBuyer", data=df, kind='scatter',
            row=None, col=None, col_wrap=None, height=4, aspect=3)

plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))

sns.lineplot(x="NumberChildrenAtHome", y="NumberCarsOwned", hue="HomeOwnerFlag", size=None, style=None, data=df,
            estimator='mean', ci=95)

plt.show()

In [ ]:
sns.catplot(x="CountryRegionName", y="NumberCarsOwned", hue=None, data=df, row=None, col=None,
    col_wrap=None, estimator="mean", ci=95, kind='strip', height=4, aspect=3)

plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))

sns.countplot(x="verifiedstatus", y=None, hue=None, data=df)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))

sns.violinplot(x="age", y=None, hue=None, data=df, split=True)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))
sns.kdeplot(x="income", y=None, shade=True, vertical=False, kernel=None, data=df)

plt.show()

In [ ]:
sns.lmplot(x=None, y=None, data=None, hue=None, col=None, row=None, col_wrap=None,
    height=5, aspect=1)

plt.show()

In [ ]:
sns.jointplot(x=None, y=None, data=None, kind='scatter', color=None, height=6, ratio=5, hue=None)

plt.show()

In [ ]:
sns.jointplot(x="landsurfacecondition", y="damagegrade", data=df, kind='hist', color=None, height=6, ratio=5, hue=None)

plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))


plt.show()

In [ ]:
g = sns.FacetGrid(data=df, row=None, col="damagegrade", hue=None, col_wrap=None,  sharex=True,  sharey=True,
              height=5, aspect=1)

g.map(sns.histplot, "countfloorspreeq")

plt.show()

In [ ]:
g = sns.FacetGrid(data=df, row=None, col="damagegrade", hue=None, col_wrap=None,  sharex=True,  sharey=True,
              height=5, aspect=1)

g.map(sns.histplot, "area")

plt.show()

**==============================================================================================================**

# Feature Engineering

  * **Feature selection**
    * Removing uninformative features
  * **Feature extraction**
    * Creating new features from existing features
  * **Feature transformation**
    * Modifying existing features to better suit our objectives
    * Encoding of categorical features as dummies
 
When modeling, best practice is to perform a rigorous examination of your data before beginning feature engineering and feature selection. This process is important. Not only does it help you understand your data, what it's telling you, and what it's _not_ telling you, but it also can give you clues that help you create new features.

### Drop unwanted features (Based on Domain Knowledge)

In [ ]:
df.head(1)

In [ ]:
df.columns

In [ ]:
df.drop(['zipcodestart', 'zipcodeend', 'neighborhoodstart', 'neighborhoodend'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
#df.to_csv("cyclistic.csv", index=False)

### Reducing features after performing selection

In [ ]:
df.head()

In [ ]:
df2 = df[['lotarea']]

In [ ]:
df2

In [ ]:
df2.to_csv("ameshousingmod.csv", index=False)

**==============================================================================================================**

## Rename columns

In [ ]:
df.columns

In [ ]:
df = df.rename(columns =  {'species_Bream': 'bream',
                           'species_Rare': 'rare'
                          })

In [ ]:
# Rename columns as needed
 
df = df.rename(columns =  {'countryregionname': 'country',
                          'homeownerflag': 'homeowner',
                          'numbercarsowned': 'cars',
                          'numberchildrenathome':'child',
                          'avemonthspend': 'spend'
                          })

# Display all column names after the update
### YOUR CODE HERE ### 
df.columns

In [ ]:
#Method 3: Using a new list of column names

# Creating a list of new columns
df_cols = ['RankSeason', 'RankPlayoffs', 'OOBP', 'OSLG', 
           'MIRankSeason', 'MIRankPlayoffs', 
           'MIOOBP', 'MIOSLG', 'Team', 'League', 'Year', 
           'RS', 'RA', 'W', 'OBP', 'SLG', 'BA', 'Playoffs', 'G'
          ]

# printing the columns
# before renaming
print(df2.columns)

# Renaming the columns
df2.columns = df_cols

# printing the columns
# after renaming
print(df2.columns)

In [ ]:
# make all column headers in pandas data frame lower case

df.columns = map(str.lower, df.columns)

In [ ]:
df.columns

In [ ]:
train.columns = map(str.lower, train.columns)

In [ ]:
train.columns

In [ ]:
test.columns = map(str.lower, test.columns)

In [ ]:
test.columns

In [ ]:
# remove special character
df.columns = df.columns.str.replace(' ', '')

In [ ]:
# remove special character
df.columns = df.columns.str.replace('_', '')

In [ ]:
# remove special character
df.columns = df.columns.str.replace('-', '')

In [ ]:
# remove special character
df.columns = df.columns.str.replace('.', '')

In [ ]:
df.head()

In [ ]:
#train.to_csv("train.csv", index=False)

In [ ]:
#test.to_csv("test.csv", index=False)

**==============================================================================================================**

## Rearrange columns

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
cols = ['id', 'limitbal', 'gender', 'educ', 'marital', 'age', 'medianpay', 'medianbillamt', 'medianpayamt', 'default'
        ]

In [ ]:
df = df[cols]

In [ ]:
df.head()

In [ ]:
#df.to_csv("creditcard.csv", index=False)

**==============================================================================================================**

## Treat Duplicate Values

In [ ]:
df.duplicated(keep='first').sum()

In [ ]:
#identify duplicate rows
duplicateRows = df[df.duplicated(keep='last')]

In [ ]:
duplicateRows

In [ ]:
df.drop_duplicates(ignore_index=True, inplace=True)

In [ ]:
df

In [ ]:
#df.to_csv("Pokemon.csv", index=False)

**==============================================================================================================**

## Label Encoding

Label Encoding is a popular encoding technique for handling categorical variables. In this technique, each label is assigned a unique integer based on alphabetical ordering.

label_encoder object knows how to understand word labels. 

`label_encoder = LabelEncoder()`

Encode labels in column 'Country'. 

`df['Timely'] = label_encoder.fit_transform(df['Timely'])`

**==============================================================================================================**

# Feature Engineering

## Combine features with functions

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
# make a list with the features we want to combine

features = ['payamt1', 'payamt2', 'payamt3', 'payamt4', 'payamt5', 'payamt6'
     
]

In [ ]:
df[features].head()

In [ ]:
# list with functions to apply for combinations

math_func = ["sum", "prod", "mean", "median", "std", "max", "min", "count"]

In [ ]:
math_func = ["median"]

In [ ]:
# name of new features

new_feature_names = ["sum_f", "prod_f", "mean_f", "median_f", "std_f", "max_f", "min_f", "count_f"]

In [ ]:
new_feature_names = ["medianpay"]

In [ ]:
# automate feature combination with Feature-engine

create = MathFeatures(
    variables=features,
    func=math_func,
    new_variables_names=new_feature_names,
)

In [ ]:
create

In [ ]:
create = MathFeatures(variables=features, func="median", new_variables_names=["medianpayamt"], drop_original=True)

In [ ]:
# combine features

df2 = create.fit_transform(df)

In [ ]:
df2

In [ ]:
#df2.to_csv("creditcard.csv", index=False)

**==============================================================================================================**

## Polynomial Features Transformation

In [ ]:
pr = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False)
pr

In [ ]:
pr = PolynomialFeatures(degree=2)
x_train_pr = pr.fit_transform(x_train[['horsepower']])
x_test_pr = pr.fit_transform(x_test[['horsepower']])
pr

In [ ]:
X_poly = pr.fit_transform(X)

In [ ]:
X_poly

In [ ]:
X_poly.shape

**==============================================================================================================**

#### Python code done by Dennis Lam